[Unit]
Description=code-server

[Service]
Type=simple
TimeoutStartSec=0
ExecStart=/usr/local/bin/code serve-web --without-connection-token

[Install]
WantedBy=default.target
